/*

	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;

*/

	body {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
	}

	.header {
		padding: 20px 0;
	}

	.logo {
		color: #2b3f4c;
		font-size: 30px;
		line-height: 1;
		text-decoration: none;
	}

	.logo:before {
		background: url(../images/icon_sprite.png) no-repeat 0 0;
		content: '';
		display: inline-block;
		height: 60px;
		margin: 0 15px 0 0;
		vertical-align: middle;
		width: 60px;
	}