/*

	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;

*/

	body {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		font-size: 20px;
		line-height: 1.6;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
		font-weight: 300;
		line-height: 1.1;
	}

	a {
		text-decoration: none;
	}

	.button {
		background: #000;
		border-radius: 3px;
		color: #fff;
		display: block;
		font-size: 14px;
		padding: 10px 30px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	.no-touch .button:hover {
		/* background: #000; */
	}


	/* Header */

	.header {
		padding: 20px 0;
	}

	.logo {
		color: #2b3f4c;
		font-size: 30px;
		line-height: 1;
		text-decoration: none;
	}

	.logo:before {
		background: url(../images/icon_sprite.png) no-repeat 0 0;
		content: '';
		display: inline-block;
		height: 60px;
		margin: 0 15px 0 0;
		vertical-align: middle;
		width: 60px;
	}

	/* Intro */

	.intro {
		background: #e77e04 url(../images/intro_bg.jpg) no-repeat center top;
		color: #fff;
	}

	.intro_row {
		padding: 50px 0 60px;
	}

	.intro_title {
		font-size: 50px;
		margin: 0 0 20px;
		text-transform: uppercase;
	}

	.intro_text {
		margin: 20px 0 30px;
	}

	.intro_button {
		background: #fff;
		color: #e77e04;
		font-size: 20px;
	}

	/* Features */

	.features {

	}

	.feature {

	}

	.feature_heading {
		color: #e77e04;
		font-size: 26px;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;
	}

	.feature_heading:after {
		background: url(../images/icon_sprite.png) no-repeat 0 0;
		content: '';
		display: inline-block;
		margin: 0 0 0 15px;
		vertical-align: middle;
	}

	.tag .feature_heading:after {
		background-position: 0 -80px;
		height: 31px;
		width: 31px;
		margin-top: -5px;
	}

	.cloud .feature_heading:after {
		background-position: -40px -80px;
		height: 25px;
		width: 35px;
		margin-top: -5px;
	}

	.map .feature_heading:after {
		background-position: -80px -80px;
		height: 31px;
		width: 25px;
		margin-top: -7px;
	}

	/* Gallery Image */

	.gallery_image img {
		width: 100%;
	}

	/* download */

	.download_button {
		background: #000 url(../images/icon_sprite.png) no-repeat;
		height: 55px;
		margin: 0 0 10px;
		text-indent: 200%;
		white-space: nowrap;
	}

	.download_button.appstore {
		background-position: center -200px;
	}

	.download_button.google {
		background-position: center -260px;
	}

	.download_button.amazon {
		background-position: center -320px;
	}


	@media screen and (min-width: 740px) {

		.button {
			display: inline-block;
		}


		.intro_row {
			padding: 50px 0 75px;
			position: relative;
		}

		.intro_row:before {
			bottom: 0;
			background: url(../images/intro_phone.png) no-repeat center top;
			content: '';
			display: block;
			height: 430px;
			position: absolute;
			right: -100px;
			width: 325px;
		}

		.intro_title {
			font-size: 70px;
		}
	}

	@media screen and (min-width: 980px) {
		.intro_row:before {
			right: 75px;
		}
	}

	@media screen and (min-width: 1220px) {
		.intro_row:before {
			right: 200px;
		}
	}

